<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/default}">
    <head>
        <title>TIL-BOS</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid mt-4 ml-4">
                <!--                <div style="color:red;">
                                    Authority :
                                    <span th:text="${authority}"></span>
                                </div>-->
                <div class="content-header-custom">ประวัติ</div>
                <p style="text-indent: 50px;">บริษัท อีซูซุ มอเตอร์ จำกัด เป็นผู้ผลิตยานพาหนะส่วนบุคคล ยานพาหนะเพื่อการพาณิชย์ และ รถบรรทุกของหนัก มีสำนักงานใหญ่ในโตเกียว ประเทศญี่ปุ่น 
                    ในปี พ.ศ. 2548 อีซูซุ คือ ผู้ผลิตรถบรรทุกขนาดกลางและขนาดใหญ่ที่มากที่สุดในโลก โดยมีฐานการผลิตอยู่ที่เมืองฟูจิซะวะ และยังมีที่ จังหวัดโทะจิงิ และจังหวัดฮกไกโด</p>

            </div>
        </div>
    </body>
</html>