<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{fragments/default}">
    <head>
        <title>Easy Income & Expense Report</title>
    </head>
    <body>
        <div id="page-wrapper" data-layout-fragment="content">
            <div class="container-fluid mt-4 ml-4">
                <!--                <div style="color:red;">
                                    Authority :
                                    <span th:text="${authority}"></span>
                                </div>-->
                <div class="content-header-custom">About Us</div>
                <p style="text-indent: 50px;">Easy Income & Expense Report</p>

            </div>
        </div>
    </body>
</html>